@import "tailwindcss";

:root {
  --color-primary: #ffce1a;

  --color-secondary: #0d0842;

  --color-blackBg: #f3f3f3;
  --color-Favorite: #ff5841;

  --font-primary: "Montserrat", "sans-serif";
  --font-secondary: "Nunito Sans", "sans-serif";
}
